*.o
*.a
*.so*
*.lo
*.la
.libs
.deps
.version
doc
Makefile
Makefile.in
corosync.spec
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
corosync-*.tar*
depcomp
install-sh
libtool
ltmain.sh
m4
missing
tags
ID
Doxyfile
test-driver
