*.o
*.a
*.so*
*.lo
*.la
.libs
.deps
.version
doc
Makefile
corosync.spec
corosync-*.tar*
depcomp
install-sh
libtool
ltmain.sh
missing
tags
ID
Doxyfile
test-driver
*.cmake
CMakeFiles/
CMakeCache.txt
compile_commands.json
