<?xml version="1.0"?>

<!--
    Please read the corosync.xml.5 and corosync.conf.5 manual page
-->

<corosync>

<!--
    totem tag configures behavior of totem and interfaces.

    crypto_cipher and crypto_hash:
	Used for mutual node authentication. If you choose to
	enable this, then do remember to create a shared
	secret with "corosync-keygen".
	enabling crypto_cipher, requires also enabling of crypto_hash.
-->
<totem version="2" crypto_cipher="none" crypto_hash="none">
    <!--
	interface tag to define at least one interface to communicate
	over. If you define more than one interface stanza, you must
	also set rrp_mode.

	Main parameters:
	ringnumber:
	    Rings must be consecutively numbered, starting at 0.

	bindnetaddr:
	    This is normally the *network* address of the
	    interface to bind to. This ensures that you can use
	    identical instances of this configuration file
	    across all your cluster nodes, without having to
	    modify this option.

	    However, if you have multiple physical network
	    interfaces configured for the same subnet, then the
	    network address alone is not sufficient to identify
	    the interface Corosync should bind to. In that case,
	    configure the *host* address of the interface
	    instead: bindnetaddr="192.168.1.1"

	mcastaddr:
	    When selecting a multicast address, consider RFC
	    2365 (which, among other things, specifies that
	    239.255.x.x addresses are left to the discretion of
	    the network administrator). Do not reuse multicast
	    addresses across multiple Corosync clusters sharing
	    the same network.

	mcastport:
	    Corosync uses the port you specify here for UDP
	    messaging, and also the immediately preceding
	    port. Thus if you set this to 5405, Corosync send
	    messages over UDP ports 5405 and 5404.

	ttl:
	    Time-to-live for cluster communication packets. The
	    number of hops (routers) that this ring will allow
	    itself to pass. Note that multicast routing must be
	    specifically enabled on most network routers.
    -->

	<interface ringnumber="0" bindnetaddr="192.168.1.0" mcastaddr="239.255.1.1"
	    mcastport="5405" ttl="1" />
</totem>

<!--
    Logging tag for defining various logging options

    Main parameters:
    fileline:
	Log the source file and line where messages are being
	generated. When in doubt, leave off. Potentially useful for
	debugging.

    to_stderr:
	Log to standard error. When in doubt, set to no. Useful when
	running in the foreground (when invoking "corosync -f")

    to_logfile:
    logfile:
	Log to a log file. When set to "no", the "logfile" option
	must not be set.

    to_syslog:
	Log to the system log daemon. When in doubt, set to yes.

    debug:
	Log debug messages (very verbose). When in doubt, leave off.

    timestamp:
	Log messages with time stamps. When in doubt, set to on
	(unless you are only logging to syslog, where double
	timestamps can be annoying).

-->

<logging fileline="off" to_stderr="no" to_logfile="yes"
    logfile="/var/log/cluster/corosync.log" to_syslog="yes" debug="off"
    timestamp="on">

    <!--
	Logger susys tag is used to overwrite default settings for given
	subsys if needed.
    -->

    <logger_subsys subsys="QUORUM" debug="off" />
</logging>

</corosync>
